:root {
  --main-color: #2c8bff;
  --sec-color: #457b9d;
  --reset-color: #e23847;
  --fourth-color: #1d3557;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif;
  background: #f9f9f9;
  color: #444;
  margin: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
}

header {
  padding: 0px 15px;
  max-width: 1225px;
  margin: auto;
  margin-top: 48px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
}

.grab {
  cursor: -webkit-grab;
  cursor: grab;
}
.grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.container {
  max-width: 720px;
  margin: auto;
  padding: 0 20px;
  padding-top: 1rem;
}

.paragraph {
  font-size: 24px;
}

.paragraph h1 {
  text-align: center;
}

.paragraph img {
  width: 100%;
  border: 1px solid #efefef;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 0px #d8d8d89e;
}

.logo-text {
  margin-right: 50px;
  font-size: 30px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

.header-left {
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #717171;
  font-weight: 700;
  transition: 0.2s;
  margin-right: 25px;
}

.nav-link:hover {
  color: black;
}

.donate {
  background: #2c8bff;
  border: 2px solid #0470f3;
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 15px;
}

.donate:hover {
  background-color: #4197ff;
}

.nav-bar {
  display: none;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s;
}

.nav-bar:hover,
.close-btn:hover {
  transform: scale(1.1);
}

#pop-up {
  position: fixed;
  inset: 0px;
  z-index: 20;
  justify-content: flex-end;
  display: none;
  background: #00000099;
}

.close-btn {
  cursor: pointer;
  position: absolute;
  top: 23px;
  right: 29px;
  transition: 0.2s;
}

.mobile-menu {
  background: #f9f9f9;
  width: 80%;
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.mobile-menu a:not(.donate) {
  margin-bottom: 15px;
  transition: 0.2s;
  color: #717171;
}

.mobile-menu a:hover {
  color: black;
}

.mobile-menu a.donate {
  margin-bottom: 15px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
  padding-top: 1rem;
}

.wrapper.tanda-tangan {
  flex-direction: column-reverse;
  flex-wrap: wrap;
  width: 100%;
  user-select: none;
}

.input {
  width: 100%;
  border: 1px solid #efefef;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0 0 0 / 10%),
    0 1px 2px 0 rgb(0 0 0 / 6%);
  background: #fff;
}

.tanda-tangan .input {
  margin-top: 1.5rem;
  width: 350px;
}

.output {
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-wrapper {
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  position: relative;
}

.label-file {
  border-radius: 5px;
  padding: 4px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: 700;
  transition: 0.08s;
  cursor: pointer;
  position: absolute;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truncate-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
}

.label-file:hover {
  opacity: 0.9;
}

.select {
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  padding: 15px;
  background: #fff;
}

#canvas {
  background: #fff;
  width: 100%;
  object-fit: contain;
  border: 1px solid #ececec;
  border-radius: 15px;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0 0 0 / 10%),
    0 1px 2px 0 rgb(0 0 0 / 6%);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--main-color);
  border: 2px solid #0470f3;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  padding: 8px 64px;
  width: 100px;
  transition: 0.08s;
}

#download button:hover {
  background-color: #4197ff;
}

#download button:hover .icon svg {
  transform: translateY(0.125rem);
  transition-duration: 300ms;
}

#reset button {
  background: #fff;
  color: #000;
  border: 2px solid #000;
}

#reset button:hover .icon svg {
  transform: rotate(360deg);
  transition-duration: 700ms;
}

#text {
  height: 64px !important;
}

#text,
#select-font,
#select-position,
#select-font-size,
#font-style {
  margin-top: 5px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 9px 8px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  resize: vertical;
  color: #676767;
  background: #fff;
}

#text::-webkit-input-placeholder {
  color: #b0b0b0;
}

#text:-moz-placeholder {
  /* Firefox 18- */
  color: #b0b0b0;
}

#text::-moz-placeholder {
  /* Firefox 19+ */
  color: #b0b0b0;
}

#text:-ms-input-placeholder {
  color: #b0b0b0;
}

#text::placeholder {
  color: #b0b0b0;
}

#text:focus-visible,
#select-font:focus-visible,
#select-position:focus-visible,
#font-style:focus-visible,
#select-font-size:focus-visible {
  outline: none;
  border: 1px solid var(--main-color);
  box-shadow: 0 0 4px var(--main-color);
}

#colorPicker {
  padding: 0;
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #e5e5e5;
  outline: none;
  -webkit-appearance: none;
}

#colorPicker::-webkit-color-swatch-wrapper {
  padding: 0;
}

#colorPicker::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.thanks-to {
  color: #999;
  font-size: 14px;
  margin-top: 10px;
}

footer {
  padding: 4rem 0;
  text-align: center;
}

.copyright,
.copyright a {
  font-size: 15px;
  color: #666;
}

.copyright a:hover {
  text-decoration: underline;
}

.news-wrapper {
  display: flex;
  color: black;
  overflow: hidden;
  border: 1px solid #ececec;
  border-radius: 15px;
  box-shadow: 0px 0px 12px 0px #d8d8d89e;
  margin-bottom: 40px;
}

.news-right {
  position: relative;
  flex-shrink: 0;
  width: 300px;
}

.news-right img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-left {
  /*changed*/
  padding: 20px;
  overflow: hidden;
}

.description {
  overflow: hidden;
  margin-top: 10px;
  font-size: 15px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.news-footer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 15px;
}

.news-title {
  font-size: 20px;
  font-weight: 500;
}

.draggable-file {
  position: absolute;
  height: 520px;
  width: 770px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 5px dashed #d7d7d7;
  border-radius: 15px;
  font-size: 20px;
  color: #676767;
  text-align: center;
}

.draggable-file i {
  display: block;
  color: gray;
  font-size: 50px;
  text-align: center;
  margin-top: 25%;
}

.draggable-file-label {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropbtn {
  background-color: #fff;
  color: #000;
  margin-left: 10px;
}

.dropbtn:hover {
  background-color: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 25px;
  right: -15px;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 0px 12px 0px #d8d8d89e;
  border: 1px solid #efefef;
  z-index: 1;
}

.dropdown-content a {
  margin-bottom: 0;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f3f3f3;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.slider {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#rotate-input,
#opacity-input {
  width: 50px;
}

.input-right {
  width: 100%;
  justify-content: right;
  display: flex;
}

.as-featured-in {
  text-align: center;
  padding-top: 3rem;
}

.as-featured-in img {
  width: 140px;
}

.as-featured-in img:hover {
  opacity: 0.8;
}

.as-featured-in .news-site-logos {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  margin: auto;
}

.as-featured-in .news-site-logos a img {
  margin: 0.5rem 1rem;
}

.special-link {
  margin-top: 2.2rem;
}

.special-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111;
}

.special-link span {
  border-bottom: 2px solid #ffcf8f;
  margin-left: 8px;
}

.special-link span:hover {
  border-color: #ffc374;
}

.special-link.twitter span {
  border-color: #8ff3ff;
}

.special-link.twitter span:hover {
  border-color: #70f1ff;
}

@media (min-width: 320px) {
  .wrapper {
    flex-direction: column;
  }

  .input {
    margin-bottom: 30px;
    width: 100%;
  }

  .tanda-tangan .input {
    margin-bottom: 0;
  }

  .as-featured-in .news-site-logos.news-site-logos {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (max-width: 320px) {
  .logo-text {
    margin: 0;
  }

  .nav-link {
    display: none;
  }

  .donate {
    display: none;
    font-size: 20px;
  }

  .dropdown {
    display: none;
  }

  .dropdown-content {
    top: -275px;
    right: -12px;
  }

  .dropbtn {
    margin-left: 0px;
  }

  .nav-bar {
    display: block;
  }

  .news-wrapper {
    flex-direction: column;
  }

  .news-right {
    width: 100%;
    height: 200px;
  }

  .draggable-file {
    display: none;
  }

  .slider {
    display: flex;
    margin: 20px 0px;
    flex-direction: column;
    align-items: flex-start;
  }

  .input-right {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .as-featured-in .news-site-logos.news-site-logos {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}

@media (max-width: 640px) {
  .logo-text {
    margin: 0;
  }

  .nav-link {
    display: none;
  }

  .donate {
    display: none;
    font-size: 20px;
  }

  .dropdown {
    display: none;
  }

  .dropdown-content {
    top: -275px;
    right: -12px;
  }

  .dropbtn {
    margin-left: 0px;
  }

  .nav-bar {
    display: block;
  }

  .news-wrapper {
    flex-direction: column;
  }

  .news-right {
    width: 100%;
    height: 200px;
  }

  .draggable-file {
    display: none;
  }

  .slider {
    display: flex;
    margin: 20px 0px;
    flex-direction: column;
    align-items: flex-start;
  }

  .input-right {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .as-featured-in .news-site-logos.news-site-logos {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 850px) {
  .logo-text {
    margin: 0;
  }

  .nav-link {
    display: none;
  }

  .donate {
    display: none;
    font-size: 20px;
  }

  .dropdown {
    display: none;
  }

  .dropdown-content {
    top: -275px;
    right: -12px;
  }

  .dropbtn {
    margin-left: 0px;
  }

  .nav-bar {
    display: block;
  }

  .news-wrapper {
    flex-direction: column;
  }

  .news-right {
    width: 100%;
    height: 200px;
  }

  .draggable-file {
    display: none;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    flex-direction: row;
  }

  .wrapper.tanda-tangan {
    flex-direction: column-reverse;
  }

  .input {
    width: 350px;
    margin: 0px 30px 0px 0px;
  }

  .tanda-tangan .input {
    margin-right: 0;
  }
}
