@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply transition duration-300;
}

#colorPicker::-webkit-color-swatch-wrapper {
  padding: 0;
}

#colorPicker::-webkit-color-swatch {
  border: none;
  border-radius: 0.375rem;
}
