@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply transition duration-300;
}

#colorPicker::-webkit-color-swatch-wrapper {
  padding: 0;
}

#colorPicker::-webkit-color-swatch {
  border: none;
  border-radius: 0.375rem;
}

.adsbygoogle[data-ad-status="filled"] .placeholder {
  display: none !important;
}

@media (min-width: 1208px) {
  #as-seen-in {
    margin-top: 0;
  }
}
