<section class="max-w-4xl mx-auto mt-16">
  <div
    class="relative isolate overflow-hidden bg-gray-900 px-6 py-16 shadow-2xl sm:rounded-3xl sm:px-16 lg:flex lg:gap-x-20 lg:px-24 sm:mx-0"
  >
    <svg
      viewBox="0 0 1024 1024"
      class="absolute top-1/2 -z-10 h-[64rem] w-[64rem] [mask-image:radial-gradient(closest-side,white,transparent)] left-1/2 -translate-x-1/2 translate-y-0"
      aria-hidden="true"
    >
      <circle
        cx="512"
        cy="512"
        r="512"
        fill="url(#759c1415-0410-454c-8f7c-9a820de03641)"
        fill-opacity="0.7"
      />
      <defs>
        <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
          <stop stop-color="#7775D6" />
          <stop offset="1" stop-color="#E935C1" />
        </radialGradient>
      </defs>
    </svg>
    <div class="mx-auto max-w-md text-center">
      <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
        Amankan data KTP.<br />Pakai Watermark KTP.
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-300">
        Tambahkan watermark pada scan KTP Anda dengan mudah, aman, dan gratis.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          href="/"
          class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
          >Coba Sekarang</a
        >
        <a href="/privasi/" class="text-sm font-semibold leading-6 text-white"
          >Pelajari Lebih Lanjut <span aria-hidden="true">→</span></a
        >
      </div>
    </div>
  </div>
</section>
