<div id="faqs" class="flex flex-col items-center max-w-4xl m-auto pt-16">
  <h2 class="text-3xl text-center font-bold tracking-tight mb-12">
    Pertanyaan Yang Sering Diajukan
  </h2>
  <div class="w-full space-y-6">
    {% for faq in faqs %}
    <div>
      <button
        class="flex justify-between w-full border-t border-gray-300 pt-6 accordion"
      >
        <span class="font-medium text-left">{{ faq.question }}</span>
        <span>
          <i class="ri-add-line text-2xl"></i>
        </span>
      </button>
      <div class="mt-2 panel hidden">
        <p class="text-gray-600">
          {{ faq.answer | safe }}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>