<footer class="flex flex-col items-center my-20">
  <div class="text-gray-600">
    &copy; <a href="https://sirilius.com/" data-umami-event="bottom-menu-sirilius-com">Sirilius Kevin</a>
  </div>
  <p class="text-gray-400 text-center text-sm">
    Terima kasih untuk semua sponsor, kontributor, dan teman yang sudah
    mendukung petualanganku ❤️
  </p>
</footer>

{%- set js %}
{% if page.url == "/" %}
{% include "js/watermark.js" %}
{% include "js/html2canvas.js" %}
{% endif %}

{% if page.url == "/tanda-tangan/" %}
{% include "js/signature_pad.js" %}
{% include "js/signature.js" %}
{% endif %}

{% include "js/mobile-menu.js" %}
{% endset %}
<script>
  {{ js | jsmin | safe }}
</script>