{% set nav = [
    { name: "Produk", 
      content: [
        {name: "Watermark KTP", link: "/"},
        {name: "Tanda Tangan", link: "/tanda-tangan/"}
      ] 
    },
    { name: "Dokumentasi", 
      content: [
        {name: "Cara Pakai", link: "/cara-pakai/"},
        {name: "Blog", link: "/blog/"}
      ] 
    },
    { name: "Tentang", 
      content: [
        {name: "FAQ", link: "/#faqs"},
        {name: "Kebijakan Privasi", link: "/privasi/"},
        {name: "Perpustakaan", link: "/libraries/"}
      ] 
    },
    { name: "Kontak",
      content: [
        {name: "Hubungi Kami", link: "/kontak/"}, 
        {name: "Twitter / X", link: "https://twitter.com/SiriliusKevin"}
      ]
    }
  ] %}
  
<footer class="mt-16 border-t-2 border-gray-200 bg-gray-100">
  <div
    class="flex justify-between flex-col lg:flex-row space-y-8 lg:space-y-0 max-w-6xl mx-auto py-12 px-6 lg:px-8"
  >
    <div class="lg:w-2/6 space-y-4">
      <div class="text-sm text-center lg:text-left space-y-2">
        <div class="text-2xl font-bold">Watermark KTP</div>
        <p class="max-w-xl mx-auto text-gray-700">
          Solusi terbaik, praktis, dan aman untuk menambahkan watermark ke scan
          KTP. Dibuat oleh Sirilius Kevin sebagai sarana pengamanan data
          pribadi.
        </p>
      </div>

      <div class="flex justify-center lg:justify-normal text-center lg:text-left">
        <div
          id="watermarkktpStatus"
          class="w-[200px] h-[30px] flex justify-center lg:justify-normal items-center"
        >
          Loading status...
        </div>
      </div>

      <div class="flex justify-center lg:justify-start mb-12 lg:mb-0 space-x-4 text-2xl">
        <a href="https://github.com/sirilius/watermarkktp" target="_blank" data-umami-event="footer-link-GitHub">
          <i class="ri-github-fill"></i>
        </a>
        <a href="https://x.com/siriliuskevin" target="_blank" data-umami-event="footer-link-Twitter">
          <i class="ri-twitter-x-fill text-[21px]"></i>
        </a>
      </div>
    </div>

    <div class="flex justify-center lg:justify-end lg:w-5/6">
      <div class="grid grid-cols-2 gap-x-6 gap-y-8 lg:w-5/6 sm:grid-cols-4">
        {% for item in nav %}
        <div class="flex flex-col space-y-4">
          <h3 class="font-semibold">{{ item.name }}</h3>

          <ul class="space-y-2">
            {% for content in item.content %}
            <li>
              <a
                href={{ content.link }}
                class="text-sm text-gray-700 hover:text-gray-900"
              >
                {{ content.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div
    class="w-full flex items-center flex-col text-gray-500 text-sm space-y-2 pt-8 pb-9 border-t-2 border-gray-200"
  >
    <div
    class="lg:space-x-4 flex items-center lg:justify-center space-y-3 lg:space-y-0 flex-col lg:flex-row mb-2"
    >
      <p>
        Dirilis di bawah
        <a
          href="https://github.com/sirilius/watermarkktp/blob/main/LICENSE"
          data-umami-event="bottom-menu-license"
          class="text-gray-700 hover:text-gray-900"
          >Lisensi MIT</a
        >
      </p>
      
      <a href="/privacy/" class="text-sm text-gray-500 hover:text-gray-900">
        Privacy Policy
      </a>

      <a href="/terms/" class="text-sm text-gray-500 hover:text-gray-900">
        Terms of Service
      </a>
    </div>
    <p>
      &copy; 2021-{% year %}
      <a
        href="https://sirilius.com"
        data-umami-event="bottom-menu-sirilius"
        class="text-gray-700 hover:text-gray-900"
        >Sirilius Kevin</a
      >
    </p>
  </div>
</footer>
  
  {% include "components/donation-popup.html" %}
  
  {%- set js %}
  {% if page.url == "/" %}
    {% include "js/watermark.js" %}
    {% include "js/html2canvas.js" %}
  {% endif %}
  {% if page.url == "/tanda-tangan/" %}
    {% include "js/signature_pad.js" %}
    {% include "js/signature.js" %}
  {% endif %}
  {% include "js/mobile-menu.js" %}
  {% include "js/faq.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
  
  <script>
    window.addEventListener("load", function () {
      const watermarkktpStatus = document.createElement("iframe");
      watermarkktpStatus.src = "https://status.watermarkktp.com/badge";
      watermarkktpStatus.width = "185";
      watermarkktpStatus.height = "30";
      watermarkktpStatus.frameBorder = "0";
      watermarkktpStatus.scrolling = "no";
      watermarkktpStatus.classList.add("text-center");
      watermarkktpStatus.loading = "lazy";
      document.getElementById("watermarkktpStatus").replaceWith(watermarkktpStatus);
    });
  </script>
  