<div class="relative bg-white">
  <div class="border-b-[1.5px] border-gray-300">
    <div class="max-w-7xl mx-auto px-6">
      <div
        class="flex justify-between items-center py-4 lg:justify-start lg:space-x-10"
      >
        <div class="flex justify-start text-2xl font-bold">
          <a href="/">
            {%- if page.url == "/" or page.url == "/tanda-tangan/" %}
              <h1>Watermark KTP</h1>
            {% else %}
              <h2>Watermark KTP</h2>
            {% endif %}
          </a>
        </div>
        <div class="-mr-2 -my-2 lg:hidden">
          <button
            type="button"
            class="bg-white rounded-md p-2 inline-flex flex-col items-center justify-between h-[29px] text-gray-500 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
            aria-expanded="false"
            onclick="toggle_menu()"
          >
            <span class="sr-only">Open menu</span>
            <span
              class="w-5 h-0.5 bg-gray-400 rounded-lg duration-300"
              id="line-1"
            ></span>
            <span
              class="w-5 h-0.5 bg-gray-400 rounded-lg duration-300"
              id="line-2"
            ></span>
            <span
              class="w-5 h-0.5 bg-gray-400 rounded-lg duration-300"
              id="line-3"
            ></span>
          </button>
        </div>
        
        <nav class="hidden lg:flex space-x-8">
          {% set navPages = collections.all | eleventyNavigation %}
          {%- for entry in navPages %}
            <a
              href="{{ entry.url | url }}"
              class="text-base font-medium text-gray-500 hover:text-gray-900"
              {% if entry.url == page.url %} style="color: #111827"{% endif %}
            >
              {{ entry.title }}
            </a>
          {%- endfor %}

          <a
            href="https://github.com/sirilius/watermarkktp"
            class="text-base font-medium text-gray-500 hover:text-gray-900"
            data-umami-event="top-menu-GitHub"
          >
            GitHub
          </a>

          <a
            href="https://twitter.com/SiriliusKevin"
            class="text-base font-medium text-gray-500 hover:text-gray-900"
            data-umami-event="top-menu-Twitter"
          >
            Twitter
          </a>
        </nav>

        <div class="hidden lg:flex items-center justify-end lg:flex-1 lg:w-0">
          <a
            href="https://saweria.co/sirilius"
            target="_blank"
            class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-3 py-1 border border-transparent rounded-lg text-base font-medium text-white bg-blue-500 text-blue shadow-3d-blue-button bg-gradient-to-b from-gradient-btn-from to-gradient-btn-to bg-no-repeat hover:opacity-80"
            data-umami-event="top-menu-Saweria"
          >
            Support Me
          </a>
        </div>
      </div>
    </div>
  </div>

  <div
    class="inset-x-0 pt-6 px-6 transition transform origin-top-right hidden mb-8"
    id="menu"
  >
    <div
      class="rounded-lg border border-gray-300 shadow ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50"
    >
      <div class="pt-5 pb-6 px-5">
        <div>
          <nav class="grid gap-y-8">
            <a
              href="/tanda-tangan/"
              class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50"
            >
              <i class="ri-edit-line text-2xl"></i>
              <span class="ml-3 text-base font-medium text-gray-900">
                Tanda Tangan
              </span>
            </a>

            <a
              href="/cara-pakai/"
              class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50"
            >
              <i class="ri-command-line text-2xl"></i>
              <span class="ml-3 text-base font-medium text-gray-900">
                Cara Pakai
              </span>
            </a>

            <a
              href="/blog/"
              class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50"
            >
              <i class="ri-quill-pen-line text-2xl"></i>
              <span class="ml-3 text-base font-medium text-gray-900">
                Blog
              </span>
            </a>

            <a
              href="/privasi/"
              class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50"
            >
              <i class="ri-shield-check-line text-2xl"></i>
              <span class="ml-3 text-base font-medium text-gray-900">
                Privasi
              </span>
            </a>

            <a
              href="/pers/"
              class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50"
            >
              <i class="ri-megaphone-line text-2xl"></i>
              <span class="ml-3 text-base font-medium text-gray-900">
                Pers
              </span>
            </a>

            <a
              href="https://github.com/sirilius/watermarkktp"
              class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50"
              data-umami-event="mobile-menu-GitHub"
            >
              <i class="ri-github-fill text-2xl"></i>
              <span class="ml-3 text-base font-medium text-gray-900">
                GitHub
              </span>
            </a>

            <a
              href="https://twitter.com/SiriliusKevin"
              class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50"
              data-umami-event="mobile-menu-Twitter"
            >
              <i class="ri-twitter-x-line text-xl"></i>
              <span class="ml-3 text-base font-medium text-gray-900">
                Twitter / X
              </span>
            </a>
          </nav>
        </div>
      </div>
      <div class="px-5 pt-0 pb-5 space-y-6 flex flex-wrap">
        <a
          href="https://saweria.co/sirilius"
          target="_blank"
          class="w-full px-4 py-2 border border-transparent rounded-md text-base font-medium text-white bg-blue-500 text-blue shadow-3d-blue-button bg-gradient-to-b from-gradient-btn-from to-gradient-btn-to bg-no-repeat hover:opacity-80"
          data-umami-event="mobile-menu-Saweria"
        >
          Support Me
        </a>
      </div>
    </div>
  </div>
</div>