<div class="text-center bg-gray-100">
  <div
    class="w-full px-2 md:px-8 py-2 inline-block sm:inline-flex justify-center items-center space-x-1 font-semibold text-purple-600"
  >
    <i class="ri-megaphone-line inline"></i>
    <a
      class="text-base text-center"
      href="https://watermarkktp.com/promosi/"
      target="_blank"
      data-umami-event="campaign-promotion"
    >
      Watermark KTP kini menerima pemasangan iklan. Klik di sini untuk info
      lebih lanjut.
    </a>
  </div>
</div>
