<div class="text-center bg-gray-100">
  <div
    class="w-full px-2 md:px-8 py-2 inline-block sm:inline-flex justify-center items-center space-x-1 font-medium text-gray-700"
  >
    <i class="ri-megaphone-line inline text-blue-500"></i>
    <a
      class="text-base text-center text-blue-500"
      href="https://coblosonline.com"
      target="_blank"
      data-umami-event="campaign-coblosonline"
    >
      Project baru: CoblosOnline.com, simulasi pemilihan Capres Indonesia 2024.
    </a>
  </div>
</div>
