<div class="flex flex-col items-center mb-16">
  <h2 class="text-2xl text-center font-bold mb-12">Tanggapan Orang-Orang</h2>
  <div class="flex flex-col lg:flex-row lg:space-x-4 md:px-8 space-y-4 lg:space-y-0">
    {% for testimonial in testimonials %}
      <div class="border border-gray-200 rounded-xl shadow w-72 sm:w-96 mx-auto lg:w-full flex flex-col p-4 h-min">
        <a class="flex items-center mb-4 space-x-2" href="{{ testimonial.url }}" data-umami-event="testi-Twitter {{ testimonial.twitter }}">
          {% image "./src/img/testi-pp-" + testimonial.twitter + ".jpg",
        testimonial.name + " profile photo", [64, 64], "rounded-full w-12 mr-2" %}

          <div class="flex justify-between w-full">
            <div>
              <p class="font-medium">{{ testimonial.name }}</p>
              <p class="text-gray-500">{{ testimonial.twitter }}</p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
              <path fill="none" d="M0 0h24v24H0z"/>
              <path
                d="M15.3 5.55a2.9 2.9 0 0 0-2.9 2.847l-.028 1.575a.6.6 0 0 1-.68.583l-1.561-.212c-2.054-.28-4.022-1.226-5.91-2.799-.598
                  3.31.57 5.603 3.383 7.372l1.747 1.098a.6.6 0 0 1 .034.993L7.793 18.17c.947.059 1.846.017 2.592-.131 4.718-.942
                  7.855-4.492 7.855-10.348 0-.478-1.012-2.141-2.94-2.141zm-4.9 2.81a4.9 4.9 0 0 1 8.385-3.355c.711-.005 1.316.175
                  2.669-.645-.335 1.64-.5 2.352-1.214 3.331 0 7.642-4.697 11.358-9.463 12.309-3.268.652-8.02-.419-9.382-1.841.694-.054
                  3.514-.357 5.144-1.55C5.16 15.7-.329 12.47 3.278 3.786c1.693 1.977 3.41 3.323 5.15 4.037 1.158.475 1.442.465 1.973.538z"
                fill="rgb(56 189 248)"/>
            </svg>
          </div>
        </a>

        <p>{{ testimonial.content | safe }}</p>
      </div>
    {% endfor %}
  </div>

  <div class="px-0 max-w-3xl">
    <div class="mt-12 flex flex-col items-center px-0 lg:px-4 py-4 h-min">
      <p class="text-2xl text-center mb-4">
        "Watermark KTP bikinan Kevin benar-benar membantu. Setidaknya untuk kita bisa
        <span class="text-black py-1 px-1 bg-[#bce954]">mencegah penyalahgunaan data di KTP.</span>"
      </p>
      <div class="text-xl">
        <a
          href="https://mojok.co/konter/watermark-ktp-solusi-baru-memerangi-pinjol-laknat/"
          class="text-gray-600 hover:text-gray-900"
          data-umami-event="testi-Mojok">
          {% image "./src/img/logo-mojok.png", "Logo Mojok.co", [163, 60], "w-36
          bg-black px-6 py-2 hover:opacity-80 duration-300" %}
        </a>
      </div>
    </div>
  </div>
</div>