<div class="mt-8">
  <h3 class="font-bold text-3xl md:text-4xl py-4 text-center">
    Kevin on TikTok
  </h3>

  <div class="-ml-4 -mr-4">
    <blockquote
      class="tiktok-embed"
      cite="https://www.tiktok.com/@siriliuskevin/video/7272375416818601217"
      data-video-id="7272375416818601217"
      data-embed-from="embed_page"
      style="max-width: 605px; min-width: 325px"
    >
      <section>
        <a
          target="_blank"
          title="@siriliuskevin"
          href="https://www.tiktok.com/@siriliuskevin?refer=embed"
          >@siriliuskevin</a
        >
        <p>
          2 tahun lalu aku viral cuma gara-gara buat website simple ini! Gimana
          ceritanya? Lets go kita bahas 🤩 Link Watermark KTP:
          https://watermarkktp.com Link Source Code:
          https://github.com/sirilius/watermarkktp (Repost soalnya ada caption
          yang salah)
          <a
            title="tech"
            target="_blank"
            href="https://www.tiktok.com/tag/tech?refer=embed"
            >#tech</a
          >
          <a
            title="ktp"
            target="_blank"
            href="https://www.tiktok.com/tag/ktp?refer=embed"
            >#ktp</a
          >
          <a
            title="privacy"
            target="_blank"
            href="https://www.tiktok.com/tag/privacy?refer=embed"
            >#privacy</a
          >
          <a
            title="fyp"
            target="_blank"
            href="https://www.tiktok.com/tag/fyp?refer=embed"
            >#fyp</a
          >
          <a
            title="indonesia"
            target="_blank"
            href="https://www.tiktok.com/tag/indonesia?refer=embed"
            >#indonesia</a
          >
        </p>
        <a
          target="_blank"
          title="♬ original sound - Sirilius Kevin - Sirilius Kevin"
          href="https://www.tiktok.com/music/original-sound-Sirilius-Kevin-7272375530976086786?refer=embed"
          >♬ original sound - Sirilius Kevin - Sirilius Kevin</a
        >
      </section>
    </blockquote>
    <script async src="https://www.tiktok.com/embed.js"></script>
  </div>
</div>
