<section class="max-w-4xl mx-auto mt-16">
<div
  class="bg-gradient-to-br from-gray-900 to-gray-800 text-white sm:rounded-3xl p-8"
>
  <div class="mb-6 text-center">
    <h2 class="text-2xl font-bold mb-2">Lindungi Berbagai Dokumen Anda</h2>
    <p class="text-gray-300">
      Tambahkan watermark untuk melindungi dokumen identitas dari penyalahgunaan
    </p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for useCase in useCases %}
    <a
      href={{ useCase.url }}
      target="_blank"
      class="bg-white/10 backdrop-blur rounded-lg p-4 hover:bg-white/20 transition"
    >
      <i class="ri-{{ useCase.icon }} text-2xl text-blue-400 mb-3"></i>
      
      <h3 class="font-semibold text-lg mb-2">{{ useCase.title }}</h3>
      <p class="text-gray-300 text-sm">{{ useCase.desc }}</p>
    </a>
    {% endfor %}
  </div>
</div>
</section>