<section
  class="max-w-7xl mx-auto px-6 lg:px-8 mt-24 relative z-10"
>
    <div class="max-w-7xl mx-auto px-6 lg:px-8">
        <header class="mb-12 text-center">
            <h2 class="text-3xl font-bold text-gray-900 mb-3">
                Watermark KTP Melindungi Berbagai Dokumen Anda
            </h2>
            <p class="text-gray-600 max-w-2xl mx-auto text-base sm:text-lg">
                Aman dari penyalahgunaan digital! Watermark KTP membantu melindungi
                berbagai dokumen penting Anda — dari KTP, SIM, hingga paspor — dengan
                mudah dan profesional.
            </p>
        </header>

        <div class="mt-20 grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 gap-5">
            {% for useCase in useCases %}
            <a
                href="{{ useCase.url }}"
                rel="noopener noreferrer"
                class="flex flex-col items-center justify-center gap-4 rounded-xl border border-gray-200 bg-white p-6 text-center shadow-sm hover:border-gray-300"
                aria-label="KTP"
            >
            <div  class="flex items-center justify-center w-14 h-14 rounded-lg bg-gray-50 text-gray-700 text-4xl">
                <i class="ri-{{ useCase.icon }}"></i>
            </div>

            <h3 class="text-sm sm:text-base font-semibold text-gray-800">
                {{ useCase.title }}
            </h3>
            </a>
            {% endfor %}
        </div>
    </div>
</section>
