<div class="my-8 flex flex-wrap justify-center items-start">
  <div
    class="mr-0 lg:mr-6 mb-6 p-4 w-full lg:w-80 rounded-xl border border-gray-300 shadow"
  >
    <div class="mb-4 flex">
      <input
        class="absolute hidden"
        type="file"
        id="inputFile"
        accept="image/*"
      />
      <label
        class="truncate w-full py-2 px-4 bg-black shadow-3d-black-button bg-gradient-to-b from-gradient-btn-from to-gradient-btn-to bg-no-repeat hover:opacity-80 duration-300 font-medium text-white rounded-lg cursor-pointer text-center"
        for="inputFile"
      >
        Pilih Gambar
      </label>
    </div>
    <div class="mb-4">
      <label
        for="input-watermark"
        class="block text-sm font-medium text-gray-700"
      >
        Watermark
      </label>
      <div class="mt-1">
        <textarea
          id="input-watermark"
          rows="3"
          class="shadow-sm outline outline-1 outline-gray-300 focus:outline-2 focus:outline-blue-500 mt-1 p-2 block w-full sm:text-sm rounded-md"
          placeholder="Verifikasi, 10-10-2021"
        ></textarea>
        <label
          for="automatic-wm"
          class="text-sm font-medium text-gray-700 cursor-pointer flex items-center relative mt-2 select-none"
          ><input
            type="checkbox"
            id="automatic-wm"
            class="appearance-none w-4 h-4 mr-2 outline outline-1 outline-gray-300 checked:outline-2 checked:bg-blue-500 checked:outline-blue-500 cursor-pointer rounded-sm peer"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 absolute hidden peer-checked:block text-white"
            viewbox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
              clip-rule="evenodd"
            />
          </svg>
          Watermark Otomatis
        </label>
      </div>
    </div>
    <div class="mb-4">
      <label for="select-font" class="block text-sm font-medium text-gray-700">
        Font
      </label>
      <div class="mt-1">
        <select
          id="select-font"
          class="shadow-sm outline outline-1 outline-gray-300 focus:outline-2 focus:outline-blue-500 mt-1 p-2 block w-full sm:text-sm bg-white rounded-md text-gray-500"
        >
          <option value="Times New Roman" selected="selected">
            Times New Roman
          </option>
          <option value="Arial">Arial</option>
          <option value="Sans">PT Sans</option>
        </select>
      </div>
    </div>
    <div class="mb-4">
      <label
        for="select-position"
        class="block text-sm font-medium text-gray-700"
      >
        Posisi
      </label>
      <div class="mt-1">
        <select
          id="select-position"
          class="shadow-sm outline outline-1 outline-gray-300 focus:outline-2 focus:outline-blue-500 mt-1 p-2 block w-full sm:text-sm bg-white rounded-md text-gray-500"
        >
          <option value="top">Atas</option>
          <option value="top-left">Atas kiri</option>
          <option value="top-right">Atas kanan</option>
          <option value="center" selected="selected">Tengah</option>
          <option value="center-left">Tengah kiri</option>
          <option value="center-right">Tengah kanan</option>
          <option value="bottom">Bawah</option>
          <option value="bottom-left">Bawah kiri</option>
          <option value="bottom-right">Bawah kanan</option>
        </select>
      </div>
    </div>
    <div class="mb-4">
      <label
        for="select-font-size"
        class="block text-sm font-medium text-gray-700"
      >
        Ukuran
      </label>
      <div class="mt-1">
        <select
          id="select-font-size"
          class="shadow-sm outline outline-1 outline-gray-300 focus:outline-2 focus:outline-blue-500 mt-1 p-2 block w-full sm:text-sm bg-white rounded-md text-gray-500"
        >
          <option value="14">Sangat kecil</option>
          <option value="16">Kecil</option>
          <option value="20">Normal</option>
          <option value="36" selected="selected">Besar</option>
          <option value="60">Sangat besar</option>
        </select>
      </div>
    </div>
    <div class="mb-4">
      <label for="colorPicker" class="block text-sm font-medium text-gray-700"
        >Warna</label
      >
      <div class="flex">
        <input
          type="color"
          id="colorPicker"
          class="shadow-sm outline outline-1 outline-gray-300 focus:outline-2 focus:outline-blue-500 mt-1 mr-2 block w-12 h-9 bg-white rounded-md"
        />
        <input
          id="text-colorPicker"
          value="#000000"
          type="text"
          class="shadow-sm outline outline-1 outline-gray-300 focus:outline-2 focus:outline-blue-500 mt-1 p-2 block w-full sm:text-sm bg-white rounded-md text-gray-500"
        />
      </div>
    </div>
    <div class="mb-4">
      <label for="rotate" class="block text-sm font-medium text-gray-700">
        Rotasi
      </label>
      <div class="flex items-center mt-1">
        <input
          type="range"
          min="-180"
          max="180"
          step="1"
          value="0"
          id="rotate"
          class="rounded-full w-full appearance-none h-2 bg-gray-200"
        />
        <input
          type="number"
          min="-180"
          max="180"
          step="1"
          id="rotate-input"
          value="0"
          class="ml-4 w-14 outline outline-1 outline-gray-300 focus:outline-2 focus:outline-blue-500 pl-1 rounded-md text-gray-500"
        />
      </div>
    </div>
    <div class="mb-4">
      <label for="opacity" class="block text-sm font-medium text-gray-700">
        Transparansi
      </label>
      <div class="flex items-center mt-1">
        <input
          type="range"
          min="0"
          max="100"
          step="1"
          value="50"
          id="opacity"
          class="rounded-full w-full appearance-none h-2 bg-gray-200"
        />
        <input
          type="number"
          min="0"
          max="100"
          step="1"
          value="50"
          id="opacity-input"
          class="ml-4 w-14 outline outline-1 outline-gray-300 focus:outline-2 focus:outline-blue-500 pl-1 rounded-md text-gray-500"
        />
      </div>
    </div>
    <div class="flex">
      <button
        id="reset"
        class="p-2 mr-4 w-1/2 flex items-center justify-center border-2 border-red-500 text-red-500 rounded-lg group font-medium"
      >
        <i class="ri-loop-left-line text-xl mr-1 group-hover:-rotate-180 duration-300"></i>
        Reset
      </button>
      <a class="contents" id="download" download="watermark.png">
        <button
          class="p-2 w-1/2 flex items-center justify-center bg-blue-500 text-blue shadow-3d-blue-button bg-gradient-to-b from-gradient-btn-from to-gradient-btn-to bg-no-repeat rounded-lg group font-medium text-white"
        >
          <i class="ri-download-line text-xl mr-1 group-hover:translate-y-[2px] duration-200"></i>
          Download
        </button>
      </a>
    </div>
  </div>
  <div
    id="canvas-wrapper"
    class="flex justify-center items-center relative w-full md:w-[800px]"
  >
    <div class="absolute w-full h-full p-4 flex draggable-file z-10">
      <input class="hidden" type="file" accept="image/*" />
      <label
        class="w-full flex flex-col justify-center items-center border-4 border-dashed border-gray-300 rounded-lg text-gray-400 font-medium text-xl cursor-pointer"
        for="inputFile"
      >
        <i class="ri-image-add-line text-6xl"></i>
        <span class="hidden sm:block">Tarik Gambarmu Ke Sini</span>
      </label>
    </div>
    <div
      id="output"
      class="flex border border-gray-300 shadow rounded-xl w-full aspect-[800/550] overflow-hidden lg:w-[800px] touch-none"
    >
      <div id="canvas" class="flex relative justify-center items-center w-full">
        <img
          id="image"
          class="max-w-[800px] max-h-[550px]"
          ondragstart="return false;"
        />
        <div
          id="draggable-text"
          class="absolute flex flex-col items-center opacity-100"
        >
          <div
            id="text-wrapper"
            class="cursor-move hover:outline hover:outline-blue-400 outline-2 outline-blue-500"
          >
            <p
              id="text"
              class="text-center font-serif text-4xl opacity-50 select-none"
            ></p>
          </div>
          <div
            id="rotate-button"
            class="absolute top-full mt-8 p-1 bg-white hover:bg-blue-500 rounded-full hidden group select-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewbox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              id="rotateBtn-icon"
              class="w-4 h-4 group-hover:text-white"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25
                    8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="absolute bottom-0 -mb-72 md:-mb-32 hidden md:block">
      {% if page.url == "/" %} 
        {% include "components/ads.html" %}
      {% endif %}
    </div>
  </div>
</div>

<img id="bg" src="/img/bg-white.png" alt="Background white" class="hidden" />
<div
  class="fixed justify-center items-center top-0 bottom-0 right-0 left-0 bg-gray-700/60 hidden z-50 w-full h-full text-5xl text-white font-bold"
  id="drop-overlay"
>
  Tarik Gambarmu Ke Sini
</div>
