@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800&display=swap');

:root {
  --main-color: #a8dadb;
  --sec-color: #457b9d;
  --reset-color: #e23847;
  --fourth-color: #1d3557;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Heebo', sans-serif;
  background: #f9f9f9;
  margin: 20px;
}

header {
  padding: 0px 15px;
  max-width: 1225px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grab {cursor: -webkit-grab; cursor: grab;}
.grabbing {cursor: -webkit-grabbing; cursor: grabbing;}
.container {
  max-width: 720px;
  margin: auto;
  padding: 0 20px;
}

.paragraph {
  font-size: 24px;
}

.paragraph img {
  width: 100%;
  border: 1px solid #efefef;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 0px #d8d8d89e;
}

.logo-text {
  margin-right: 50px;
  font-size: 30px;
  font-weight: 600;
  color: var(--fourth-color);
  text-decoration: none;
}

.header-left {
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #717171;
  transition: 0.2s;
  margin-right: 25px;
}

.nav-link:hover {
  color: black;
}

.donate {
  background: #f8e2e2;
  color: #515151;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 15px;
}

.nav-bar {
  display: none;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s;
}

.nav-bar:hover,
.close-btn:hover {
  transform: scale(1.1);
}

#pop-up {
  position: fixed;
  inset: 0px;
  z-index: 20;
  justify-content: flex-end;
  display: none;
  background: #00000099;
}

.close-btn {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 35px;
  transition: 0.2s;
  font-size: 23px;
}

.mobile-menu {
  background: #f9f9f9;
  width: 250px;
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.mobile-menu a {
  margin-bottom: 15px;
  transition: 0.2s;
  color: #717171;
}

.mobile-menu a:hover {
  color: black;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
}

.input {
  width: 100%;
  border: 1px solid #efefef;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 0px 12px 0px #d8d8d89e;
  background: white;
}

.output {
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-wrapper {
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  position: relative;
}

.label-file {
  border-radius: 10px;
  padding: 4px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: 600;
  transition: 0.08s;
  box-shadow: 0 1px 5px #d8d8d8;
  cursor: pointer;
  position: absolute;
  background-image: linear-gradient(45deg, var(--main-color), var(--sec-color));
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truncate-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
}

.label-file:hover {
  transform: scale(1.01);
}

.select {
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  padding: 15px;
  background: white;
}

#canvas {
  width: 100%;
  object-fit: contain;
  border: 1px solid #ececec;
  border-radius: 15px;
  box-shadow: 0px 0px 12px 0px #d8d8d89e;
}

#download button {
  cursor: pointer;
  background: var(--sec-color);
  color: white;
  font-size: 14px;
  border: 0px;
  border-radius: 10px;
  height: 40px;
  width: 110px;
  box-shadow: 0 1px 5px #d8d8d8;
  transition: 0.08s;
}

#download button:hover {
  transform: scale(1.01);
}

#reset button {
  cursor: pointer;
  background: var(--reset-color);
  color: white;
  font-size: 14px;
  border: 0px;
  border-radius: 10px;
  height: 40px;
  width: 110px;
  box-shadow: 0 1px 5px #d8d8d8;
  transition: 0.08s;
}

#reset button:hover {
  transform: scale(1.01);
}

#text,
#select-font,
#select-position,
#select-font-size,
#font-style {
  margin-top: 5px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #67676757;
  padding: 9px 8px;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
  resize: vertical;
  color: #676767;
  background: white;
}

#text::-webkit-input-placeholder {
  color: #b0b0b0;
}

#text:-moz-placeholder {
  /* Firefox 18- */
  color: #b0b0b0;
}

#text::-moz-placeholder {
  /* Firefox 19+ */
  color: #b0b0b0;
}

#text:-ms-input-placeholder {
  color: #b0b0b0;
}

#text::placeholder {
  color: #b0b0b0;
}

#text:focus-visible,
#select-font:focus-visible,
#select-position:focus-visible,
#font-style:focus-visible,
#select-font-size:focus-visible {
  outline: none;
  border: 1px solid var(--main-color);
  box-shadow: 0 0 4px var(--main-color);
}

#colorPicker {
  margin-left: 5px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #e5e5e5;
  outline: none;
  -webkit-appearance: none;
}

#colorPicker::-webkit-color-swatch-wrapper {
  padding: 0;
}

#colorPicker::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.thanks-to {
  color: #999;
  font-size: 14px;
  margin-top: 10px;
}

footer {
  padding: 30px 0 20px;
  text-align: center;
}

.copyright,
.copyright a {
  color: #555;
}

.news-wrapper {
  display: flex;
  color: black;
  overflow: hidden;
  border: 1px solid #ececec;
  border-radius: 15px;
  box-shadow: 0px 0px 12px 0px #d8d8d89e;
  margin-bottom: 40px;
}

.news-right {
  position: relative;
  flex-shrink: 0;
  width: 300px;
}

.news-right img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-left {
  /*changed*/
  padding: 20px;
  overflow: hidden;
}

.description {
  overflow: hidden;
  margin-top: 10px;
  font-size: 15px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.news-footer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 15px;
}

.news-title {
  font-size: 20px;
  font-weight: 500;
}

.draggable-file {
  position: absolute;
  height: 520px;
  width: 770px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 5px dashed #d7d7d7;
  border-radius: 15px;
  font-size: 20px;
  color: #676767;
  text-align: center;
}
.draggable-file i{
  display: block;
  color: gray;
  font-size: 50px;
  text-align: center;
  margin-top: 25%;
}
.draggable-file-label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.dropbtn { background-color: #b1e9a4; }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-top: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

@media (min-width: 320px) {
  .wrapper {
    flex-direction: column;
  }

  .input {
    margin-bottom: 30px;
    width: 100%;
  }
}

@media (max-width: 320px) {
  .logo-text {
    margin: 0;
  }

  .nav-link {
    display: none;
  }

  .donate {
    display: none;
  }

  .nav-bar {
    display: block;
  }

  .news-wrapper {
    flex-direction: column;
  }

  .news-right {
    width: 100%;
    height: 200px;
  }

  .donate {
    font-size: 20px;
  }

  .draggable-file {
    display: none;
  }
}

@media (max-width: 640px) {
  .logo-text {
    margin: 0;
  }

  .nav-link {
    display: none;
  }

  .donate {
    display: none;
  }

  .nav-bar {
    display: block;
  }

  .news-wrapper {
    flex-direction: column;
  }

  .news-right {
    width: 100%;
    height: 200px;
  }

  .donate {
    font-size: 20px;
  }

  .draggable-file {
    display: none;
  }
}

@media (max-width: 850px) {
  .logo-text {
    margin: 0;
  }

  .nav-link {
    display: none;
  }

  .donate {
    display: none;
  }

  .nav-bar {
    display: block;
  }

  .news-wrapper {
    flex-direction: column;
  }

  .news-right {
    width: 100%;
    height: 200px;
  }

  .donate {
    font-size: 20px;
  }

  .draggable-file {
    display: none;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    flex-direction: row;
  }

  .input {
    width: 350px;
    margin: 0px 30px 0px 0px;
  }
}
