@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800&display=swap');

:root {
  --main-color: #a8dadb;
  --sec-color: #457b9d;
  --reset-color: #e23847;
  --fourth-color: #1d3557;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Heebo', sans-serif;
  background: #f9f9f9;
  margin: 20px;
}

header {
  padding: 0px 15px;
  max-width: 1225px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 720px;
  margin: auto;
  padding: 0 20px;
}

.privacy {
  font-size: 24px;
}

.logo-text {
  margin-right: 50px;
  font-size: 30px;
  font-weight: 600; 
  color: var(--fourth-color);
  text-decoration: none;
}

.header-left {
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #717171;
  transition: 0.2s;
  margin-right: 25px;
}

.nav-link:hover {
  color: black;
}

.donate {
  background: #f8e2e2;
  color: #515151;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
}

.input {
  width: 100%;
  border: 1px solid #efefef;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 0px 12px 0px #d8d8d89e;
  background: white;
}

.file-wrapper {
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  position: relative;
}

.label-file {
  border-radius: 10px;
  padding: 4px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: 600;
  transition: 0.08s;
  box-shadow: 0 1px 5px #d8d8d8;
  cursor: pointer;
  position: absolute;
  background-image: linear-gradient(45deg, var(--main-color), var(--sec-color));
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truncate-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
}

.label-file:hover {
  transform: scale(1.01);
}

.select {
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  padding: 15px;
  background: white;
}

#canvas {
  width: 100%;
  object-fit: contain;
  border: 1px solid #ececec;
  border-radius: 15px;
  box-shadow: 0px 0px 12px 0px #d8d8d89e;
}

#download button {
  cursor: pointer;
  background: var(--sec-color);
  color: white;
  font-size: 14px;
  border: 0px;
  border-radius: 10px;
  height: 40px;
  width: 110px;
  box-shadow: 0 1px 5px #d8d8d8;
  transition: 0.08s;
}

#download button:hover {
  transform: scale(1.01);
}

#reset button {
  cursor: pointer;
  background: var(--reset-color);
  color: white;
  font-size: 14px;
  border: 0px;
  border-radius: 10px;
  height: 40px;
  width: 110px;
  box-shadow: 0 1px 5px #d8d8d8;
  transition: 0.08s;
}

#reset button:hover {
  transform: scale(1.01);
}

#text,
#select-font,
#select-position,
#font-style {
  margin-top: 5px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #67676757;
  padding: 9px 8px;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
  resize: vertical;
  color: #676767;
  background: white;
}

#text::-webkit-input-placeholder {
  color: #676767;
}

#text:-moz-placeholder {
  /* Firefox 18- */
  color: #676767;
}

#text::-moz-placeholder {
  /* Firefox 19+ */
  color: #676767;
}

#text:-ms-input-placeholder {
  color: #676767;
}

#text::placeholder {
  color: #676767;
}

#text:focus-visible,
#select-font:focus-visible,
#select-position:focus-visible,
#font-style:focus-visible {
  outline: none;
  border: 1px solid var(--main-color);
  box-shadow: 0 0 4px var(--main-color);
}

#colorPicker {
  margin-left: 5px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #e5e5e5;
  outline: none;
  -webkit-appearance: none;
}

#colorPicker::-webkit-color-swatch-wrapper {
  padding: 0;
}

#colorPicker::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.thanks-to {
  color: #999;
  font-size: 14px;
  margin-top: 10px;
}

footer {
  padding: 30px 0 20px;
  text-align: center;
}

.copyright, .copyright a {
  color: #555;
}

@media (min-width: 320px) {
  .wrapper {
    flex-direction: column;
  }

  .input {
    margin-bottom: 50px;
    width: 100%;
  }
}

@media (min-width: 1025px) {
  .wrapper {
    flex-direction: row;
  }

  .input {
    width: 350px;
    margin: 0px 50px 0px 0px;
  }
}
