---
title: Watermark KTP - Solusi Aman, Praktis, dan Gratis untuk Watermark KTP
---
<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="canonical" href="https://watermarkktp.com" />
    <link rel="icon" href="/img/logo-watermarkktp.svg" />

    {%- set subtitle %}{{ newstitle or title }}{% endset %}
		{%- set subtitleText %}{{ title }}{% if subtitle and subtitle != "Watermark KTP - Solusi Aman, Praktis, dan Gratis untuk Watermark KTP" %} - Watermark KTP{% endif %}{% endset %}
    <title>{{ subtitleText }}</title>
    <meta name="description" content="{{ subtitleText }}" />

    <!--meta open graph-->
    <meta property="og:title" content="Watermark KTP" />
    <meta property="og:locale" content="id" />
    <meta property="og:description" content="{{ subtitleText }}" />
    <meta property="og:url" content="https://watermarkktp.com/" />
    <meta property="og:site_name" content="Watermark KTP" />
    <meta property="og:image" content="https://og.wmktp.com/{{ subtitle | urlencode }}" />

    <!--meta twitter graph-->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content="https://og.wmktp.com/{{ subtitle | urlencode }}" />
    <meta property="twitter:title" content="Watermark KTP" />
    <meta name="twitter:creator" content="@SiriliusKevin" />

    <!--meta structured data-->
    <script type="application/ld+json">
      {
        "headline": "Watermark KTP",
        "description": "Solusi Aman, Praktis, dan Gratis untuk Watermark KTP",
        "url": "https://watermarkktp.com/",
        "@type": "WebSite",
        "image": {
          "height": 900,
          "width": 1600,
          "url": "https://og.wmktp.com/{{ 'Solusi Aman, Praktis, dan Gratis untuk Watermark KTP' | urlencode }}",
          "@type": "imageObject"
        },
        "name": "Watermark KTP",
        "@context": "https://schema.org"
      }
    </script>

    <link rel="stylesheet" href="{{ '/css/app.css' | url | bust }}" />

    <script defer type="text/javascript" src="https://api.pirsch.io/pirsch.js" id="pirschjs" data-code="NzlZy6KI4cDV2QTqqL4xwYcrwkThOWMl"></script>
  </head>

  <body class="px-6 max-w-7xl mx-auto">
    {% include "components/header.njk" %}

    {{ content | safe }}

    {% include "components/footer.njk" %}
  </body>
</html>
