---
layout: base
---

{% include "components/ads.html" %}
{% include "components/ads-mobile.html" %}

<div class="single">
  <header class="text-center max-w-7xl mx-auto pt-16 space-y-8">
    <h1 class="tracking-tight font-bold text-3xl md:text-5xl">{{ title }}</h1>
    {% if descriptionShort %}
    <h2 class="tracking-tight text-xl md:text-2xl ">{{ descriptionShort }}</h2>
    {% endif %}
    
    <div>
      <p class="text-xl font-bold">{{ date | postDate }}</p>
      <p class="text-sm tracking-tighter text-gray-900">{% include "components/reading-time.njk" %}</p>
    </div>
  </header>

  <article class="prose-sm md:prose-lg prose-h2:font-sans prose-h2:font-bold prose-h2:tracking-tight prose-h2:text-black prose-h3:text-black prose-ul:list-disc prose-ol:list-decimal prose-a:text-blue-600 prose-a:border-b prose-a:border-blue-500 text-gray-900 font-serif text-base md:text-xl leading-8 md:tracking-wide pt-8 max-w-2xl mx-auto">
    {% if image.url %}
    <div class="featured-image">
      {%- set imageAlt %}{{ image.caption }}{% endset %}
      {%- set imageAltText %}{{ image.caption }}{% if not imageAlt or imageAlt == "" %}{{ "Ilustrasi untuk " + title }}{% endif %}{% endset %}

      {% image "./src/img/" + image.url, imageAltText, [720, 720], "w-full h-4/6 rounded-lg" %}

      {% if image.caption %}
      <figcaption class="font-sans">
        {{ image.caption }}

        {% if image.by %}
        | Gambar dibuat dengan {{ image.by }}
        {% endif %}
      </figcaption>
      {% endif %}
    </div>
    {% endif %}

    {{ content | safe }}
  </article>

  {% include "components/tiktok-promo-video.html" %}

  <footer class="pt-4 max-w-2xl mx-auto">
    <div>
      <h3 class="font-bold text-xl md:text-2xl">Pos Menarik Lainnya:</h3>

      {% set previousPost = collections.blogPosts | getPreviousCollectionItem %}
      {% set nextPost = collections.blogPosts | getNextCollectionItem %}

      <ul class="mt-4 space-y-4 text-sm md:text-base list-disc ml-4">
        {% if previousPost %}
          <li>
            <a class="border-b border-black" rel="prev" href="{{ previousPost.url }}">
              Sebelumnya: {{ previousPost.data.title }}
            </a>
          </li>
        {% endif %}

        {% if nextPost %}
          <li>
            <a class="border-b border-black" rel="next" href="{{ nextPost.url }}">
              Selanjutnya: {{ nextPost.data.title }}
            </a>
          </li>
        {% endif %}
        </ul>
    </div>

    <a href="/blog/feed.xml" class="inline-flex items-center space-x-2 mt-8">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="fill-orange-500" d="M3 3C12.9411 3 21 11.0589 21 21H18C18 12.7157 11.2843 6 3 6V3ZM3 10C9.07513 10 14 14.9249 14 21H11C11 16.5817 7.41828 13 3 13V10ZM3 17C5.20914 17 7 18.7909 7 21H3V17Z"></path></svg>
      <p class="text-sm md:text-base">Berlangganan Feed</p>
    </a>

    <div class="text-xs">
      <p
        xmlns:cc="http://creativecommons.org/ns#"
        xmlns:dct="http://purl.org/dc/terms/"
        class="mt-4 leading-7"
      >
        Artikel "<a
          property="dct:title"
          rel="cc:attributionURL"
          href="{{ url }}"
          class="text-blue-600"
        >{{ title }}</a>"
        oleh
        <a
          rel="cc:attributionURL dct:creator"
          property="cc:attributionName"
          href="https://sirilius.com/"
          class="text-blue-600"
          >Sirilius Kevin</a
        >
        berlisensi di bawah
        <a
          href="https://creativecommons.org/licenses/by/4.0/"
          target="_blank"
          rel="license noopener noreferrer"
          class="inline-block text-blue-600"
        >
          CC BY 4.0

          <svg class="inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M9 8C10.1045 8 11.1049 8.44836 11.829 9.17297L10.4153 10.5865C10.0533 10.2241 9.55298 10 9 10 7.89502 10 7 10.895 7 12 7 13.105 7.89502 14 9 14 9.55249 14 10.0525 13.7762 10.4144 13.4144L11.828 14.828C11.104 15.552 10.104 16 9 16 6.79199 16 5 14.208 5 12 5 9.79199 6.79199 8 9 8ZM18.829 9.17297C18.1049 8.44836 17.1045 8 16 8 13.792 8 12 9.79199 12 12 12 14.208 13.792 16 16 16 17.104 16 18.104 15.552 18.828 14.828L17.4144 13.4144C17.0525 13.7762 16.5525 14 16 14 14.895 14 14 13.105 14 12 14 10.895 14.895 10 16 10 16.553 10 17.0533 10.2241 17.4153 10.5865L18.829 9.17297ZM2 12C2 6.47717 6.47717 2 12 2 17.5228 2 22 6.47717 22 12 22 17.5228 17.5228 22 12 22 6.47717 22 2 17.5228 2 12ZM12 4C7.58167 4 4 7.58167 4 12 4 16.4183 7.58167 20 12 20 16.4183 20 20 16.4183 20 12 20 7.58167 16.4183 4 12 4Z"></path></svg>
          
          <svg class="inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M14 7C14 8.10461 13.1046 9 12 9 10.8954 9 10 8.10461 10 7 10 5.89539 10.8954 5 12 5 13.1046 5 14 5.89539 14 7ZM15 11C15 10.4478 14.5522 10 14 10H10C9.44775 10 9 10.4478 9 11V15H10.5V19H13.5V15H15V11ZM12 2C6.47717 2 2 6.47717 2 12 2 17.5228 6.47717 22 12 22 17.5228 22 22 17.5228 22 12 22 6.47717 17.5228 2 12 2ZM4 12C4 7.58167 7.58167 4 12 4 16.4183 4 20 7.58167 20 12 20 16.4183 16.4183 20 12 20 7.58167 20 4 16.4183 4 12Z"></path></svg>
          </a>.

          Harap menyertakan atribusi apabila mengutip tulisan dan/atau mengambil gambar dari artikel ini.
      </p>
    </div>

    <div id="disqus_thread" class="px-2 py-8 md:p-8 border-2 border-gray-300 mt-8 rounded-lg"></div>
  </footer>
</div>

<script>
  var disqus_config = function () {
    this.page.url = "https://watermarkktp.com{{ page.url }}";
    this.page.identifier = "{{ title }}";
  };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://watermarkktp.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
