---
layout: base
title: Blog
description: Temukan artikel menarik seputar keamanan data pribadi. Lindungi data KTP dengan Watermark KTP.
eleventyNavigation:
  key: Blog
  order: 3
---

{% include "components/ads.html" %}
{% include "components/ads-mobile.html" %}

<div class="text-center space-y-4 pt-16">
  <h1 class="text-5xl text-center tracking-tight md:leading-tight font-bold">Blog</h1>
  <h2 class="text-gray-700">Beragam artikel informatif dan menarik seputar keamanan data pribadi dan layanan Watermark KTP.</h2>
</div>

<div class="grid justify-center grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 pt-16">
  {% for post in collections.blogPosts | reverse %}
    <a href="{{ post.url }}" class="max-w-sm mx-auto group hover:shadow-lg bg-gray-100 rounded-lg border border-gray-300">
      {% if post.data.image.url %}
        {%- set imageAlt %}{{ post.data.image.caption }}{% endset %}
        {%- set imageAltText %}{{ post.data.image.caption }}{% if not imageAlt or imageAlt == "" %}{{ "Ilustrasi untuk " + post.data.title }}{% endif %}{% endset %}

        {% image "./src/img/" + post.data.image.url, imageAltText, [400, 400], "object-cover w-full rounded-t-lg h-64" %}
      {% endif %}

      <div class="p-6 space-y-2 text-sm">
        <h3 class="text-2xl tracking-tight font-bold">{{ post.data.title }}</h3>
        <div class="flex space-x-3">
          <div class="flex items-center space-x-1 text-gray-700">
            <i class="ri-calendar-line inline text-lg"></i>
            
            <time datetime="{{ post.data.date }}" itemProp="datePublished">{{ post.data.date | postDate }}</time>
          </div>
        </div>
        <p class="text-base text-gray-700">
          {{ post.data.excerpt }}
        </p>
      </div>
    </a>
  {% endfor %}
</div>