---
layout: base
title: Cara Pakai
eleventyNavigation:
  key: Cara Pakai
  order: 2
---

{% include "components/ads.html" %} {% include "components/ads-mobile.html" %}

<div class="max-w-xl m-auto space-y-14">
  <h1 class="text-5xl text-center font-semibold mt-6">Cara Pakai</h1>
  <div>
    <h3 class="text-2xl font-semibold">1. Tambah Gambar</h3>
    <p class="py-4 text-xl text-justify text-gray-600">
      Langkah pertama adalah memilih gambar yang ingin diberi watermark dengan
      menekan tombol "<strong class="text-gray-900">Tambah Gambar</strong>"
      seperti tombol di bawah ini.
      <i
        >Gambar yang ditambahkan tidak akan dikirim keluar dari perangkat yang
        Anda gunakan.</i
      >
    </p>
    <img
      class="w-full rounded-lg border border-gray-200 shadow"
      src="/img/tambah-gambar.png"
      alt="Tombol 'Tambah Gambar'"
    />
  </div>

  <div>
    <h3 class="text-2xl font-semibold">2. Masukan Teks</h3>
    <p class="py-4 text-xl text-justify text-gray-600">
      Setelah itu, ketikkan teks watermark yang diinginkan di kotak teks.
      Misalnya, "<strong class="text-gray-900"
        >10-10-2021 Verifikasi Pinjaman Online</strong
      >".
    </p>
    <img
      class="w-full rounded-lg border border-gray-200 shadow"
      src="/img/box-teks.png"
      alt="Input watermark"
    />
  </div>

  <div>
    <h3 class="text-2xl font-semibold">3. Pilih Font</h3>
    <p class="py-4 text-xl text-justify text-gray-600">
      Anda bisa memilih jenis teks yang diinginkan dengan memilihnya pada kotak
      "<strong class="text-gray-900">Font</strong>" seperti gambar di bawah ini.
    </p>
    <img
      class="w-full rounded-lg border border-gray-200 shadow"
      src="/img/box-font.png"
      alt="Opsi font watermark"
    />
  </div>

  <div>
    <h3 class="text-2xl font-semibold">4. Pilih Posisi Watermark</h3>
    <p class="py-4 text-xl text-justify text-gray-600">
      Pilih posisi watermark melalui kotak "<strong class="text-gray-900"
        >Posisi Teks</strong
      >" seperti di bawah ini. Anda juga bisa menentukan posisinya dengan
      langsung menekan teks pada kotak gambar di samping kanan lalu menariknya
      ke tempat yang diinginkan.
    </p>
    <img
      class="w-full rounded-lg border border-gray-200 shadow"
      src="/img/box-posisi.png"
      alt="Opsi posisi watermark"
    />
  </div>

  <div>
    <h3 class="text-2xl font-semibold">5. Pilih Ukuran Watermark</h3>
    <p class="py-4 text-xl text-justify text-gray-600">
      Anda juga bisa memilih ukuran watermark. Pilih salah satu opsi pada kotak
      "<strong class="text-gray-900">Ukuran Font</strong>".
    </p>
    <img
      class="w-full rounded-lg border border-gray-200 shadow"
      src="/img/box-ukuran.png"
      alt="Opsi ukuran watermark"
    />
  </div>

  <div>
    <h3 class="text-2xl font-semibold">6. Tentukan Warna Watermark</h3>
    <p class="py-4 text-xl text-justify text-gray-600">
      Setelah itu, pilih warna watermark yang diinginkan pada kotak opsi
      "<strong class="text-gray-900">Warna Teks</strong>".
    </p>
    <img
      class="w-full rounded-lg border border-gray-200 shadow"
      src="/img/pilih-warna.png"
      alt="Input warna watermark"
    />
  </div>

  <div>
    <h3 class="text-2xl font-semibold">7. Mengatur Rotasi Watermark</h3>
    <p class="py-4 text-xl text-justify text-gray-600">
      Atur rotasi watermark dengan menggeser-geser pada kotak opsi "<strong
        class="text-gray-900"
        >Rotasi Teks</strong
      >".
    </p>
    <img
      class="w-full rounded-lg border border-gray-200 shadow"
      src="/img/atur-rotasi.png"
      alt="Input rotasi watermark"
    />
  </div>

  <div>
    <h3 class="text-2xl font-semibold">8. Mengatur Opasitas Watermark</h3>
    <p class="py-4 text-xl text-justify text-gray-600">
      Anda bisa mengatur opasitas Watermark dengan menggeser-geser pada kotak
      opsi "<strong class="text-gray-900">Opacity Teks</strong>".
    </p>
    <img
      class="w-full rounded-lg border border-gray-200 shadow"
      src="/img/atur-opasitas.png"
      alt="Input opasitas watermark"
    />
  </div>

  <div>
    <h3 class="text-2xl font-semibold">9. Mereset watermark</h3>
    <p class="py-4 text-xl text-justify text-gray-600">
      Jika ingin mengatur ulang watermark yang telah dimasukkan, gunakan tombol
      "<strong class="text-gray-900">Reset</strong>".
    </p>
    <img
      class="w-full rounded-lg border border-gray-200 shadow"
      src="/img/reset-watermark.png"
      alt="Tombol reset watermark"
    />
  </div>

  <div>
    <h3 class="text-2xl font-semibold">10. Download Gambar</h3>
    <p class="py-4 text-xl text-justify text-gray-600">
      Setelah watermark pada scan KTP sesuai dengan yang diinginkan, tekan
      tombol "<strong class="text-gray-900">Download</strong>" untuk
      menyimpannya di perangkat Anda.
    </p>
    <img
      class="w-full rounded-lg border border-gray-200 shadow"
      src="/img/download-gambar.png"
      alt="Tombol download gambar"
    />
  </div>
</div>
