---
layout: base
permalink: /
---

{% include "components/watermark-ktp.njk" %}

<div class="block md:hidden">{% include "components/ads-mobile.html" %}</div>

<div id="as-seen-in" class="mb-16 flex items-center flex-col mt-16 md:mt-40">
  <h2 class="text-center text-2xl font-bold mb-8">As Seen In</h2>
  <div class="grid grid-cols-2 sm:grid-cols-4 items-center">
    <a
      href="https://inet.detik.com/cyberlife/d-5800653/kevin-cah-yogya-pencipta-watermark-ktp-yang-sangat-berguna"
      target="_blank"
      class="mx-4 my-2"
      data-umami-event="news-Detik"
    >
      <img
        src="/img/logo-detik.png"
        alt="Logo detikcom"
        class="w-36 hover:opacity-80 duration-300"
      />
    </a>
    <a
      href="https://www.kompas.com/tren/read/2021/11/19/181500765/remaja-14-tahun-ini-buat-aplikasi-watermark-ktp-"
      target="_blank"
      class="mx-4 my-2"
      data-umami-event="news-Kompas"
    >
      <img
        src="/img/logo-kompas.png"
        alt="Kompas.com logo"
        class="w-36 mt-2 hover:opacity-80 duration-300"
      />
    </a>
    <a
      href="https://www.youtube.com/watch?v=eliNihJWAG4"
      target="_blank"
      class="mx-4 my-2"
      data-umami-event="news-Narasi"
    >
      <img
        src="/img/logo-narasi.png"
        alt="Logo Narasi"
        class="w-32 hover:opacity-80 duration-300"
      />
    </a>
    <a
      href="https://www.cnnindonesia.com/teknologi/20211014125330-185-707721/cara-agar-foto-ektp-tidak-disalahgunakan"
      target="_blank"
      class="mx-4 my-2"
      data-umami-event="news-CNN-Indonesia"
    >
      <img
        src="/img/logo-cnn-indonesia.png"
        alt="Logo CNN Indonesia"
        class="w-36 hover:opacity-80 duration-300"
      />
    </a>
    <a
      href="https://mojok.co/konter/watermark-ktp-solusi-baru-memerangi-pinjol-laknat/"
      target="_blank"
      class="mx-4 my-2"
      data-umami-event="news-Mojok"
    >
      <img
        src="/img/logo-mojok.png"
        alt="Logo Mojok.co"
        class="w-36 bg-black px-6 py-2 hover:opacity-80 duration-300"
      />
    </a>
    <a
      href="https://id.techinasia.com/kevin-ciptakan-aplikasi-watermark-ktp"
      target="_blank"
      class="mx-4 my-2"
      data-umami-event="news-Tech-In-Asia"
    >
      <img
        src="/img/logo-techinasia.png"
        alt="Logo Tech in Asia"
        class="w-36 hover:opacity-80 duration-300"
      />
    </a>
    <a
      href="https://www.brilio.net/sosok/sirilius-kevin-sosok-14-tahun-di-balik-pencetus-watermark-ktp-211119e.html"
      target="_blank"
      class="mx-4 my-2"
      data-umami-event="news-Brilio"
    >
      <img
        src="/img/logo-brilio.png"
        alt="Logo Brilio.net"
        class="w-36 hover:opacity-80 duration-300"
      />
    </a>
    <a
      href="https://www.jawapos.com/features/26/11/2021/sirilius-kevin-belum-punya-ktp-tapi-turut-bantu-lindungi-ktp/"
      target="_blank"
      class="mx-4 my-2"
      data-umami-event="news-Jawapos"
    >
      <img
        src="/img/logo-jawapos.png"
        alt="Logo JawaPos.com"
        class="w-36 hover:opacity-80 duration-300"
      />
    </a>
  </div>
</div>
<div
  class="flex flex-col sm:flex-row justify-center items-center space-x-0 sm:space-x-8 space-y-8 sm:space-y-0"
>
  <a class="flex items-center" href="/pers/">
    <i class="ri-mic-line text-2xl mr-1"></i>
    <span class="border-b-2 border-b-violet-500"
      >Podcast Tentang Watermark KTP</span
    >
  </a>
  <a
    class="flex items-center"
    href="https://x.com/SiriliusKevin"
    data-umami-event="asi-Twitter"
  >
    <i class="ri-twitter-x-line text-2xl mr-1"></i>
    <span class="border-b-2 border-b-sky-400"
      >Ikuti @SiriliusKevin di Twitter / X</span
    >
  </a>
</div>

{% include "components/testimonials.njk" %} {% include "components/faqs.njk" %}
