---
layout: base
permalink: /
---

<div class="mt-6 mb-8 flex flex-wrap justify-center items-start">
  <div
    class="mr-0 lg:mr-6 mb-6 p-4 w-full lg:w-80 rounded-xl border border-gray-200 shadow"
  >
    <div class="mb-4 flex">
      <input
        class="absolute hidden"
        type="file"
        id="inputFile"
        accept="image/*"
      />
      <label
        class="truncate w-full py-2 px-4 bg-black shadow-3d-black-button bg-gradient-to-b from-gradient-btn-from to-gradient-btn-to bg-no-repeat hover:opacity-80 duration-300 font-medium text-white rounded-lg cursor-pointer text-center"
        for="inputFile"
      >
        Pilih Gambar
      </label>
    </div>
    <div class="mb-4">
      <label
        for="input-watermark"
        class="block text-sm font-medium text-gray-700"
      >
        Watermark
      </label>
      <div class="mt-1">
        <textarea
          id="input-watermark"
          rows="3"
          class="shadow-sm outline outline-1 outline-gray-300 focus:outline-2 focus:outline-blue-500 mt-1 p-2 block w-full sm:text-sm rounded-md"
          placeholder="Verifikasi, 10-10-2021"
        ></textarea>
        <label
          for="automatic-wm"
          class="text-sm font-medium text-gray-700 cursor-pointer flex items-center relative mt-2 select-none"
          ><input
            type="checkbox"
            id="automatic-wm"
            class="appearance-none w-4 h-4 mr-2 outline outline-1 outline-gray-300 checked:outline-2 checked:bg-blue-500 checked:outline-blue-500 cursor-pointer rounded-sm peer"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 absolute hidden peer-checked:block text-white"
            viewbox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
              clip-rule="evenodd"
            />
          </svg>
          Watermark Otomatis
        </label>
      </div>
    </div>
    <div class="mb-4">
      <label for="select-font" class="block text-sm font-medium text-gray-700">
        Font
      </label>
      <div class="mt-1">
        <select
          id="select-font"
          class="shadow-sm outline outline-1 outline-gray-300 focus:outline-2 focus:outline-blue-500 mt-1 p-2 block w-full sm:text-sm bg-white rounded-md text-gray-500"
        >
          <option value="Times New Roman" selected="selected">
            Times New Roman
          </option>
          <option value="Arial">Arial</option>
          <option value="Sans">PT Sans</option>
        </select>
      </div>
    </div>
    <div class="mb-4">
      <label
        for="select-position"
        class="block text-sm font-medium text-gray-700"
      >
        Posisi
      </label>
      <div class="mt-1">
        <select
          id="select-position"
          class="shadow-sm outline outline-1 outline-gray-300 focus:outline-2 focus:outline-blue-500 mt-1 p-2 block w-full sm:text-sm bg-white rounded-md text-gray-500"
        >
          <option value="top">Atas</option>
          <option value="top-left">Atas kiri</option>
          <option value="top-right">Atas kanan</option>
          <option value="center" selected="selected">Tengah</option>
          <option value="center-left">Tengah kiri</option>
          <option value="center-right">Tengah kanan</option>
          <option value="bottom">Bawah</option>
          <option value="bottom-left">Bawah kiri</option>
          <option value="bottom-right">Bawah kanan</option>
        </select>
      </div>
    </div>
    <div class="mb-4">
      <label
        for="select-font-size"
        class="block text-sm font-medium text-gray-700"
      >
        Ukuran
      </label>
      <div class="mt-1">
        <select
          id="select-font-size"
          class="shadow-sm outline outline-1 outline-gray-300 focus:outline-2 focus:outline-blue-500 mt-1 p-2 block w-full sm:text-sm bg-white rounded-md text-gray-500"
        >
          <option value="14">Sangat kecil</option>
          <option value="16">Kecil</option>
          <option value="20">Normal</option>
          <option value="36" selected="selected">Besar</option>
          <option value="60">Sangat besar</option>
        </select>
      </div>
    </div>
    <div class="mb-4">
      <label for="colorPicker" class="block text-sm font-medium text-gray-700"
        >Warna</label
      >
      <div class="flex">
        <input
          type="color"
          id="colorPicker"
          class="shadow-sm outline outline-1 outline-gray-300 focus:outline-2 focus:outline-blue-500 mt-1 mr-2 block w-12 h-9 bg-white rounded-md"
        />
        <input
          id="text-colorPicker"
          value="#000000"
          type="text"
          class="shadow-sm outline outline-1 outline-gray-300 focus:outline-2 focus:outline-blue-500 mt-1 p-2 block w-full sm:text-sm bg-white rounded-md text-gray-500"
        />
      </div>
    </div>
    <div class="mb-4">
      <label for="rotate" class="block text-sm font-medium text-gray-700">
        Rotasi
      </label>
      <div class="flex items-center mt-1">
        <input
          type="range"
          min="-180"
          max="180"
          step="1"
          value="0"
          id="rotate"
          class="rounded-full w-full appearance-none h-2 bg-gray-200"
        />
        <input
          type="number"
          min="-180"
          max="180"
          step="1"
          id="rotate-input"
          value="0"
          class="ml-4 w-14 outline outline-1 outline-gray-300 focus:outline-2 focus:outline-blue-500 pl-1 rounded-md text-gray-500"
        />
      </div>
    </div>
    <div class="mb-4">
      <label for="opacity" class="block text-sm font-medium text-gray-700">
        Transparansi
      </label>
      <div class="flex items-center mt-1">
        <input
          type="range"
          min="0"
          max="100"
          step="1"
          value="50"
          id="opacity"
          class="rounded-full w-full appearance-none h-2 bg-gray-200"
        />
        <input
          type="number"
          min="0"
          max="100"
          step="1"
          value="50"
          id="opacity-input"
          class="ml-4 w-14 outline outline-1 outline-gray-300 focus:outline-2 focus:outline-blue-500 pl-1 rounded-md text-gray-500"
        />
      </div>
    </div>
    <div class="flex">
      <button
        id="reset"
        class="p-2 mr-4 w-1/2 flex items-center justify-center border-2 border-red-500 text-red-500 rounded-lg group font-medium"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 mr-1 group-hover:-rotate-180 duration-300"
          viewbox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0
              01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2
              0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z"
            clip-rule="evenodd"
          />
        </svg>
        Reset
      </button>
      <a class="contents" id="download" download="watermark.png">
        <button
          class="p-2 w-1/2 flex items-center justify-center bg-blue-500 text-blue shadow-3d-blue-button bg-gradient-to-b from-gradient-btn-from to-gradient-btn-to bg-no-repeat rounded-lg group font-medium text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 mr-1 group-hover:translate-y-[2px] duration-200"
            viewbox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112
                0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
          Download
        </button>
      </a>
    </div>
  </div>
  <div
    id="canvas-wrapper"
    class="flex justify-center items-center relative w-full md:w-[800px]"
  >
    <div class="absolute w-full h-full p-4 flex draggable-file z-50">
      <input class="hidden" type="file" accept="image/*" />
      <label
        class="w-full flex flex-col justify-center items-center border-4 border-dashed rounded-lg text-gray-400 font-medium text-xl cursor-pointer"
        for="inputFile"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-12 w-12 mb-2"
          fill="none"
          viewbox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
          />
        </svg>
        <span class="hidden sm:block">Tarik Gambarmu Ke Sini</span>
      </label>
    </div>
    <div
      id="output"
      class="flex border border-gray-200 shadow rounded-xl w-full aspect-[800/550] overflow-hidden lg:w-[800px] touch-none"
    >
      <div id="canvas" class="flex relative justify-center items-center w-full">
        <img
          id="image"
          class="max-w-[800px] max-h-[550px]"
          ondragstart="return false;"
        />
        <div
          id="draggable-text"
          class="absolute flex flex-col items-center opacity-100"
        >
          <div
            id="text-wrapper"
            class="cursor-move hover:outline hover:outline-blue-400 outline-2 outline-blue-500"
          >
            <p
              id="text"
              class="text-center font-serif text-4xl opacity-50 select-none"
            ></p>
          </div>
          <div
            id="rotate-button"
            class="absolute top-full mt-8 p-1 bg-white hover:bg-blue-500 rounded-full hidden group select-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewbox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              id="rotateBtn-icon"
              class="w-4 h-4 group-hover:text-white"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25
                  8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="absolute bottom-0 -mb-72 md:-mb-32 hidden md:block">
      {% include "components/ads.html" %}
    </div>
  </div>
</div>

<div class="block md:hidden">{% include "components/ads-mobile.html" %}</div>

<div id="as-seen-in" class="mb-16 flex items-center flex-col mt-16 md:mt-40">
  <h2 class="text-center text-2xl font-bold mb-8">As Seen In</h2>
  <div class="grid grid-cols-2 sm:grid-cols-4 items-center">
    <a
      href="https://inet.detik.com/cyberlife/d-5800653/kevin-cah-yogya-pencipta-watermark-ktp-yang-sangat-berguna"
      target="_blank"
      class="mx-4 my-2"
      data-umami-event="news-Detik"
    >
      <img
        src="/img/logo-detik.png"
        alt="Logo detikcom"
        class="w-36 hover:opacity-80 duration-300"
      />
    </a>
    <a
      href="https://www.kompas.com/tren/read/2021/11/19/181500765/remaja-14-tahun-ini-buat-aplikasi-watermark-ktp-"
      target="_blank"
      class="mx-4 my-2"
      data-umami-event="news-Kompas"
    >
      <img
        src="/img/logo-kompas.png"
        alt="Kompas.com logo"
        class="w-36 mt-2 hover:opacity-80 duration-300"
      />
    </a>
    <a
      href="https://www.youtube.com/watch?v=eliNihJWAG4"
      target="_blank"
      class="mx-4 my-2"
      data-umami-event="news-Narasi"
    >
      <img
        src="/img/logo-narasi.png"
        alt="Logo Narasi"
        class="w-32 hover:opacity-80 duration-300"
      />
    </a>
    <a
      href="https://www.cnnindonesia.com/teknologi/20211014125330-185-707721/cara-agar-foto-ektp-tidak-disalahgunakan"
      target="_blank"
      class="mx-4 my-2"
      data-umami-event="news-CNN-Indonesia"
    >
      <img
        src="/img/logo-cnn-indonesia.png"
        alt="Logo CNN Indonesia"
        class="w-36 hover:opacity-80 duration-300"
      />
    </a>
    <a
      href="https://mojok.co/konter/watermark-ktp-solusi-baru-memerangi-pinjol-laknat/"
      target="_blank"
      class="mx-4 my-2"
      data-umami-event="news-Mojok"
    >
      <img
        src="/img/logo-mojok.png"
        alt="Logo Mojok.co"
        class="w-36 bg-black px-6 py-2 hover:opacity-80 duration-300"
      />
    </a>
    <a
      href="https://id.techinasia.com/kevin-ciptakan-aplikasi-watermark-ktp"
      target="_blank"
      class="mx-4 my-2"
      data-umami-event="news-Tech-In-Asia"
    >
      <img
        src="/img/logo-techinasia.png"
        alt="Logo Tech in Asia"
        class="w-36 hover:opacity-80 duration-300"
      />
    </a>
    <a
      href="https://www.brilio.net/sosok/sirilius-kevin-sosok-14-tahun-di-balik-pencetus-watermark-ktp-211119e.html"
      target="_blank"
      class="mx-4 my-2"
      data-umami-event="news-Brilio"
    >
      <img
        src="/img/logo-brilio.png"
        alt="Logo Brilio.net"
        class="w-36 hover:opacity-80 duration-300"
      />
    </a>
    <a
      href="https://www.jawapos.com/features/26/11/2021/sirilius-kevin-belum-punya-ktp-tapi-turut-bantu-lindungi-ktp/"
      target="_blank"
      class="mx-4 my-2"
      data-umami-event="news-Jawapos"
    >
      <img
        src="/img/logo-jawapos.png"
        alt="Logo JawaPos.com"
        class="w-36 hover:opacity-80 duration-300"
      />
    </a>
  </div>
</div>
<div
  class="flex flex-col sm:flex-row justify-center items-center mb-16 space-x-0 sm:space-x-8 space-y-8 sm:space-y-0"
>
  <a class="flex items-center" href="/pers/">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 mr-1"
      fill="none"
      viewbox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M19 11a7 7 0 01-7 7m0 0a7 7 0 01-7-7m7 7v4m0 0H8m4 0h4m-4-8a3 3 0 01-3-3V5a3 3 0 116 0v6a3 3 0 01-3 3z"
      />
    </svg>
    <span class="border-b-2 border-b-violet-500"
      >Podcast Tentang Watermark KTP</span
    >
  </a>
  <a
    class="flex items-center"
    href="https://twitter.com/SiriliusKevin"
    data-umami-event="asi-Twitter"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="mr-1"
      viewbox="0 0 24 24"
      width="24"
      height="24"
    >
      <path fill="none" d="M0 0h24v24H0z" />
      <path
        d="M15.3 5.55a2.9 2.9 0 0 0-2.9 2.847l-.028 1.575a.6.6 0 0 1-.68.583l-1.561-.212c-2.054-.28-4.022-1.226-5.91-2.799-.598
          3.31.57 5.603 3.383 7.372l1.747 1.098a.6.6 0 0 1 .034.993L7.793 18.17c.947.059 1.846.017 2.592-.131 4.718-.942
          7.855-4.492 7.855-10.348 0-.478-1.012-2.141-2.94-2.141zm-4.9 2.81a4.9 4.9 0 0 1 8.385-3.355c.711-.005 1.316.175
          2.669-.645-.335 1.64-.5 2.352-1.214 3.331 0 7.642-4.697 11.358-9.463 12.309-3.268.652-8.02-.419-9.382-1.841.694-.054
          3.514-.357 5.144-1.55C5.16 15.7-.329 12.47 3.278 3.786c1.693 1.977 3.41 3.323 5.15 4.037 1.158.475 1.442.465 1.973.538z"
        fill="rgba(0,0,0,1)"
      />
    </svg>
    <span class="border-b-2 border-b-sky-400"
      >Ikuti @SiriliusKevin di Twitter</span
    >
  </a>
</div>

{% include "components/testimonials.njk" %}

<div class="flex flex-col items-center max-w-4xl m-auto">
  <h2 class="text-2xl text-center font-bold mb-12">
    Pertanyaan Yang Sering Diajukan
  </h2>
  <div class="w-full space-y-6">
    <div>
      <button
        class="flex justify-between w-full border-t border-gray-300 pt-6 accordion"
      >
        <span class="font-medium text-left">Apa itu Watermark KTP?</span>
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewbox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 6v12m6-6H6"
            />
          </svg>
        </span>
      </button>
      <div class="mt-2 panel hidden">
        <p class="text-gray-600">
          Watermark KTP adalah sebuah alat sederhana untuk menambahkan watermark
          pada scan KTP. Watermark yang ditambahkan berupa teks yang berisi
          tanggal dan untuk apa scan KTP tersebut digunakan. Contoh "Verifikasi
          e-wallet, 10-10-2021".
        </p>
      </div>
    </div>
    <div>
      <button
        class="flex justify-between w-full border-t border-gray-300 pt-6 accordion"
      >
        <span class="font-medium text-left">Apa itu watermark?</span>
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewbox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 6v12m6-6H6"
            />
          </svg>
        </span>
      </button>
      <div class="mt-2 panel hidden">
        <p class="text-gray-600">
          Watermark adalah gambar atau teks yang biasanya ditempatkan pada foto
          atau dokumen digital untuk menunjukkan kepemilikan atau asal-usulnya.
          Watermark ini seringkali transparan dan diletakkan di sudut gambar
          agar tidak mengganggu kontennya. Tujuannya adalah untuk melindungi hak
          cipta, mengidentifikasi pencipta, atau memberikan informasi tentang
          sumber gambar tersebut.
        </p>
      </div>
    </div>
    <div>
      <button
        class="flex justify-between w-full border-t border-gray-300 pt-6 accordion"
      >
        <span class="font-medium text-left"
          >Apakah Watermark KTP diperlukan?</span
        >
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewbox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 6v12m6-6H6"
            />
          </svg>
        </span>
      </button>
      <div class="mt-2 panel hidden">
        <p class="text-gray-600">
          Watermark KTP diperlukan karena merupakan langkah penting dalam
          menjaga keamanan scan KTP. Dengan menambahkan watermark berisi
          informasi seperti tanggal dan tujuan pemakaian, kita dapat membantu
          mencegah penyalahgunaan scan KTP tersebut. Watermark ini membuatnya
          lebih sulit bagi orang lain untuk menggunakan scan KTP dengan cara
          yang tidak sah atau merugikan.
        </p>
      </div>
    </div>
    <div>
      <button
        class="flex justify-between w-full border-t border-gray-300 pt-6 accordion"
      >
        <span class="font-medium text-left">Apakah Watermark KTP aman?</span>
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewbox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 6v12m6-6H6"
            />
          </svg>
        </span>
      </button>
      <div class="mt-2 panel hidden">
        <p class="text-gray-600">
          Semua proses yang dilakukan di alat Watermark KTP 100% dilakukan di
          sisi klien (sisi Anda), kami tidak pernah mengirimkan berkas yang
          ditaruh Pengguna keluar dari peramban Pengguna. Untuk informasi lebih
          lanjut, dapat anda baca di
          <a class="font-medium text-black" href="/privasi/">halaman privasi</a
          >.
        </p>
      </div>
    </div>
    <div>
      <button
        class="flex justify-between w-full border-t border-gray-300 pt-6 accordion"
      >
        <span class="font-medium text-left"
          >Bagaimana cara memakai Watermark KTP?</span
        >
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewbox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 6v12m6-6H6"
            />
          </svg>
        </span>
      </button>
      <div class="mt-2 panel hidden">
        <p class="text-gray-600 text-left">
          Anda dapat membaca panduan penggunaan Watermark KTP di halaman
          <a class="font-medium text-black" href="/cara-pakai/">Cara Pakai</a>.
        </p>
      </div>
    </div>
  </div>
</div>
<img id="bg" src="/img/bg-white.png" class="hidden" />
<div
  class="fixed justify-center items-center top-0 bottom-0 right-0 left-0 bg-gray-700/60 hidden z-50 w-full h-full text-5xl text-white font-bold"
  id="drop-overlay"
>
  Tarik Gambarmu Ke Sini
</div>
